<div id="login_dialog">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag("/assets/cypress_big_logo.png", :id => 'imgLogo', :title => 'Cypress sure is sorry...', :alt => 'cypress logo') %>
    </div>
    <div class="panel">
      <h1 class="error">401 Authorization Required</h1>
      <p>
        You are Unauthorized to view the page you have requested.
      </p>
      <p class="align-right">
        Thank you very much,<br />
        The Cypress Team
      </p>
    </div>
  </div>
  <div id="cap-bottom"></div>
</div>