<div class="field">
  <%= label_tag :vsacuser %><br />
  <%= text_field_tag :vsacuser %>
</div>
<div class="field">
  <%= label_tag :vsacpassword %><br />
  <%= password_field_tag :vsacpassword %>
</div>