<p>NLM Authorization. Register at https://uts.nlm.nih.gov/license.html<p>
<div class="field">
  <%= label_tag :vsacuser, 'NLM Username' %><br />
  <%= text_field_tag :vsacuser %>
</div>
<div class="field">
  <%= label_tag :vsacpassword, 'NLM Password' %><br />
  <%= password_field_tag :vsacpassword %>
</div>